

*{
  padding:0;
  margin:0;
}
.navbar{
  width:100%;
  height:70px;
  position: fixed;
  background-color:#000000;
}

.navbarall{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
}
.image{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  width:45%;
  
}
.image img{
  width:30%;
  height:70px;
}
.image .link{
  text-decoration: none;
  color:#a1a2a5;
  font-size:16px;
  line-height:24px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
}
.image .link:hover{
  color:#589af0;
}
.auth{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  width:45%;
}
.auth .butt{
  background:none;
  border:0;
  color:#a1a2a5;
  font-size:16px;
  line-height:24px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
}

.auth .butt:hover{
  color:#589af0;
}
.auth .post{
  width:30%;
  height:35px;
  background-color:#e60278;
  border:0;
  border-radius:3px;
  font-size:15px;
  line-height:24px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color:#fcfcfd;
  cursor:pointer;
}
.auth .post:hover{
  background-color:#860146;
}

.navbar1{
  width:100%;
  height:60px;
  background-color: #003366;
  box-shadow:0 3px #00000018;
  position:fixed;
  z-index:1;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.navbar2{
  width:100%;
  height:50px;
  background-color:#12151b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.dropdown{
  width:85%;
  display: flex;
  flex-wrap: wrap;
    align-items: center;
}
.dropdown .find{
  color: #ffffff;
  width:100px;
  height:50px;
  background:none;
  border:0;
  font-size:16px;
  line-height:24px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
}
.list{
  width:63%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}
.list input{
  width:90%;
  height:50px;
  border:0;
  outline:none;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  font-size:20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:500;
  color: #404145;
  line-height:24px;
  padding-left:10px;
}
.list button{
  width:10%;
  height:50px;
  margin-left:-5px;
  border:0;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  background-color:#1dbf73;
}
.dropdown .hire{
  color: #ffffff;
  width:150px;
  height:50px;
  background:none;
  border:0;
  font-size:16px;
  line-height:24px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown .find:hover{
  background-color:#35383d;
}
.dropdown .hire:hover{
  background-color:#35383d;
}
.background1{
  width:100%;
  height:100vh;
  background-image:url(../src/Component/images/side\ hustle.webp);
  background-blend-mode: multiply;
  background-color: #0000004c;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
}
.ddbutton{
  position: relative;
}
.ddfindjob{
  width:170px;
  height:130px;
  background-color: #ffffff;
  position: absolute;
  display:none;
}
.ddfindjob button{
  background: none;
  border:0;
  color: #12151b;
  font-size:15px;
  line-height:30px;
  padding-left:10px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
}
.ddfindjob button:hover{
  color: #589af0;
}
.ddbutton:hover .ddfindjob{
  display: block;
}
.ddbutt2{
  position: relative;
}
.ddbyskill{
  width:280px;
  height:350px;
  background-color: #ffffff;
  position: absolute;
  left:100%;
  top:-1%;
  border-left:1px solid #35383d;
  display:none;
}
.backhire{
  width:60%;
}
.backhire h1{
  font-size:57px;
  line-height:66px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color:#fcfcfd;
}
.icon p{
  font-size:20px;
  line-height:28px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color:#fcfcfd;
}
.icon{
  margin-top:10px;
}
.alltext{
  width:90%;
  
}
.background2{
  width:100%;
  height:fit-content;
 background-color:#ffffff;
  
}
.back-imagelogo{
  width:50%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top:10px;
}

.back-logos{
  width:100%;
  height:100px;
  background-color:#f5f5f5;
  display: flex;
  justify-content:center;
  align-items:center;
}
.back-asusedby h1{
  font-size:20px;
  line-height:21px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
  color:#b5b6ba;
  margin-top:10px;
}
.back-make-real{
  width:100%;
  height:fit-content;
  display: flex;
  justify-content:center;
  align-items: center;
}
.back-coverall{
  width:60%;
  display: flex;
  flex-wrap: wrap;
}
.back-covertext{
  width:90%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center
  
}

.back-h1span{
  width:77%;
  display: flex;
  justify-content: center;
}
.back-h1span h1{
  width:85%;
  font-size:57px;
  line-height:66px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color:#fcfcfd;
}
.back-h1span span{
  font-size:57px;
  line-height:66px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color:#e60278;
}
.back-portfolios h2{
  font-size:32px;
  line-height:44px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color:#fcfcfd;
}
.back-portfolios p{
  font-size:20px;
  line-height:28px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
  color:#fcfcfd;
}
.back-portfolios{
  width:45%;
}
.makeyourdreamsareality h1{
  font-size:32px;
  line-height:44px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color:#fcfcfd;
}
.makeyourdreamsareality button{
  border:0;
  background: none;
  font-size:20px;
  line-height:20px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color:#e60278;
}
.makeyourdreamsareality{
  width:90%;
  margin-left:30px;
}



/* sign up */
.sign-back {
  width:100%;
  height: fit-content;
  background-color:#ffffff ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-cover{
  width:30%;
  height:100%;
  background-color:#003366;
  box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sign-logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sign-logo img{
  width:50%;
  height:150px;
}
.sign-text{
  width:100%;
  margin-top:20px;
}
.sign-text h1{
  text-align: center;
font-size:20px;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
color:#FFD700;
}
.sign-facebook{
  width:86%;
  height:40px;
  background-color:#1877F2;
  display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
border-radius:5px;
margin-top:30px;
}
.sign-all{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sign-facebook h1{
  font-size:20px;
font-weight:600;
font-family: Arial, Helvetica, sans-serif;
color:#ffffff;
margin-top:10px;
margin-left:3px;
}
.sign-or{
    width:86%;
    height:20px;
    border-top:1px solid #a1a2a5;
    display:flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    margin-top:30px;
}
.sign-orback{
  width:50px;
  text-align: center;
  background-color:#ffffff;
  padding:2%;
  border-radius:40px;
  margin-top:-5%;
  font-size:14px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color:#000000;
}
.inputs{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
  margin-top:10px;
}
.input1{
  width:40%;
}
.input1 input{
  width:100%;
  height:50px;
  border-radius:4px;
  border:1px solid #FFD700;
  padding-left:10px;
  outline: #FFC700;
  font-size:15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color:#003366;
}
.input2 {
  width:40%;
}
.input2 input{
  width:100%;
  height:50px;
  border-radius:4px;
  border:1px solid #FFD700;
  padding-left:10px;
  outline:#FFC700;
  font-size:15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color:#003366;
}

.input2 input:hover{
  border:1px solid #FFC700;
}
.input1 input:hover{
  border:1px solid #FFC700;
}
.input3 input:hover{
  border:1px solid #FFD700;
}
.input4 .input4-cover:hover{
  border:1px solid #FFD700;
}
.input3{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
  margin-top:30px;
}
.input3 input{
  width:86%;
  height:50px;
  border-radius:4px;
  border:1px solid #FFD700;
  padding-left:10px;
  outline: #FFC700;
  font-size:15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color:#003366;
}
.input4{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  margin-top:30px;
}
.input4 input{
  font-size:15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color:#003366;
} 
.input4-cover{
  width:86%;
  height:50px;
  border-radius:4px;
  border:1px solid #FFD700;
  padding-left:10px;
  outline: #FFC700;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.input4-cover button{
  background:none;
  border:0;
}
.input4 input{
  background: none;
  height:50px;
  border-radius:4px;
  border:0;
  padding-left:10px;
  outline:none;
}

.checkbox{
  width:100%;
  display: flex;
  align-items: center;
  justify-content:center ;
  margin-top:10px;

}
.form-content{
  width:100%;
}
.check input{
  width:30px;
  border:0;
  border-radius:10px;
}
.term{
  width:80%;
  margin-top:20px;
}
.remember{
  width:80%;
  /* margin-top:20px; */
}
.remember small{
  font-size:14px;
font-weight: 400;
font-family: Arial, Helvetica, sans-serif;
color:#ffffff;
}

.term small{
  font-size:14px;
font-weight: 400;
font-family: Arial, Helvetica, sans-serif;
color:#ffffff;
}
.term small a{
  font-size:14px;
font-weight: 400;
font-family: Arial, Helvetica, sans-serif;
color: #FFD700;
}
.term small a:hover{
  color: #FFC700;
}


.subsmit{
  width:100%;
  margin-top:20px;
  display: flex;
  align-items: center;
  justify-content:center ;
}
.subsmit button{
  width:86%;
  height:45px;
  background-color:#FFD700;
  border-radius:2px;
  border:0;
  color:#ffffff;
  font-size:20px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
}
.subsmit button:hover{
  background-color:#FFC700;
}
.line{
  width:100%;
  display: flex;
  align-items: center;
  justify-content:center ;
}

.account small{
  color:#ffffff;
  font-size:14px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
}
.account-Link1:hover{
  text-decoration: underline;
  color: #FFC700;
}
.account{
  text-align: center;
  height:50px;
}
.account-Link1{
  text-decoration: none;
  font-size:14px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
  color:#FFD700;
}
/* .images{
    width:40%;
}
.imagess img{
  width:100%;
  height:45px;
}
.imagess{
  width:100%;
  height:80px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
} */

/* post a project */
.post-background{
  width:100%;
  height: fit-content;
  background-color:#ffffff;
  display: flex;
  flex-wrap: wrap;
}
.post-backtext{
  width:65%;
  height:850px;
  background-color:#ffffff;
  display:flex;
  align-items: center;
  justify-content: center;
}
.postallinfo{
  width:80%;
  height:500px;
}
.post-backimages{
  width:35%;
  height:100vh;
  background-image:url(../src/Component/images/bird.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right:0;
}
.post-makeitreal{
  width:100%;
  display: flex;
  justify-content:flex-end;
}
.post-makeitreal img{
  width:55%;
  margin-top:500px;
}
.post-logo img{
  width:150px;
}
.post-text{
  width:70%;
  margin-top:50px;
}
.post-text h1{
  color: #000000;
  font-size:57px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  line-height:66px;
}
.post-text span{
  color:#e60278;
}
.post-textarea textarea{
    width:100%;
    height:90px;
    outline:0;
    border-radius:5px;
    color: #000000;
    font-size:18px;
    font-weight:400;
    font-family: Arial, Helvetica, sans-serif;
    line-height:28px;
    padding:10px;
    border:1px solid #bcc5d3;
    margin-top:30px;
}
.post-textarea textarea:hover{
  border:1px solid #0A53E3;
}

.post-button button{
  width:180px;
  height:50px;
  border-radius:3px;
  border:0;
  background-color: #e60278;
  color:#fcfcfd;
  font-size:20px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  line-height:normal;
  margin-top:30px;
}
.post-button button:hover{
  background-color: #860146;
}
.post-list p{
  color:#000000;
  font-size:18px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
  line-height:28px;

}
.post-list{
  margin-top:50px;
}
.post-list-icon{
  display: flex;
  flex-wrap: wrap;
  padding-left:10px;
}

.back-selector{
  width:34%;
  height:fit-content;
  margin-top:25px;
  background-color:#003366;
  display: flex;
  align-items: center;
  justify-content:center ;
}
.backselector-image{
  width:70%;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.backselector-image img{
  width:85%;
  height:150px;
}
.backselector-text{
  width:85%;
}
.selector-text{
  margin-top:40px;
}
.selector-text h1{
  color:#ffffff;
  font-size:24px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  line-height:31px;

}
.selector-texts p{
  color:#fff;
  font-size:16px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
  line-height:24px;
}
.selector-text3{
  width:100%;
}
.selector-text3 h5{
  color:#fff;
  font-size:14px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  line-height:21px;
}
.selector-texts{
  width: 90%;
}

.selector-input h1{
  color:#fff;
  font-size:16px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  line-height:24px;
}
.selector-input input{
  width:100%;
  height:40px;
  border-radius:5px;
  border:1px solid #FFC700;
  outline:none;
  padding:5px;
  color:#0d084d;
  font-size:16px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
  line-height:24px;
}
.selector-input input:hover{
  border:1px solid #FFD700;
}
.selector-input p{
  color:#fff;
  font-size:15px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
  line-height:21px;
}
.selector-input{
  margin-top:40px;
}
.selector-button button{
  width:100%;
  height:50px;
  background-color: #FFD700;
  color: #fff;
  font-size:16px;
  font-weight:600;
  font-family: Arial, Helvetica, sans-serif;
  line-height:16px;
  border:0;
  border-radius:5px;
}
.selector-button button:hover{
  background-color:#FFC700;
}
.selector-button{
  margin-top:60px;
}
.backjob-selector{
  width:30%;
  height:550px;
  margin-top:25px;
  background-color:#ffffff;
  display: flex;
  align-items: center;
  justify-content:center ;
}
.backjob-text h1{
  color:#12151b;
  font-size:20px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  line-height:28px;
}
.backjob-text p{
  color:#12151b;
  font-size:15px;
  font-weight:400;
  font-family: Arial, Helvetica, sans-serif;
  line-height:21px;
}
.backjob-work{
  width:100%;
  height:130px;
  margin-top:20px;
}
.backjob-work button{
  width:100%;
  height:130px;
  background-color:#fff;
  border:0;
  border-radius:5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around; 
  
}
.backjob-work button img{
  width:30%;
  height:70px;
}
.backjob-hiring{
  width:100%;
  height:130px;
  margin-top:20px;
}
.backjob-hiring button{
  width:100%;
  height:130px;
  background-color:#fff;
  border:0;
  border-radius:5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around; 
}
.backjob-hiring button img{
  width:30%;
  height:70px;
}
.backjob-hiring button p{
  color:#12151b;
  font-size:16px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  line-height:24px;
  margin-top:20px;
}
.backjob-work button p{
  color:#12151b;
  font-size:16px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  line-height:24px;
  margin-top:20px;
}
.popular{
  width:55%;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
}
.popular p {
  font-size:14px;
  font-weight:600;
  font-family:Arial, Helvetica, sans-serif;
  line-height:27px;
  color:#fff;
  margin-top:20px;
}

.popular button{
  width:125px;
  font-size:14px;
  font-weight:600;
  font-family:Arial, Helvetica, sans-serif;
  line-height:27px;
  color:#fff;
  height:26px;
  border:1px solid #fff;
  border-radius:100px;
  background:none;
}
.popular button:hover{
  background-color:#fff;
  color:#404145;
}

.ai{
  width:260px;
  height:300px;
  background-image:url(../src/Component/images/ai-artists-2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:15px;
  border-radius:4px;
}
.ai p{
  margin:10px;
  font-size:14px;
  font-weight:400;
  font-family:Arial, Helvetica, sans-serif;
  line-height:20px;
  color:#fff;
}
.ai h1{
  margin:10px;
  font-size:24px;
  font-weight:700;
  font-family:Arial, Helvetica, sans-serif;
  color:#fff;

}
.ai:hover{
  box-shadow:3px 3px 3px 3px #bcc5d3;
  transition: all 1s;
}
.logodesign{
  width:260px;
  height:300px;
  background-image:url(../src/Component/images/logo-design-2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:15px;
  border-radius:4px;
}
.logodesign p{
  margin:10px;
  font-size:14px;
  font-weight:400;
  font-family:Arial, Helvetica, sans-serif;
  line-height:20px;
  color:#fff;
}
.logodesign h1{
  font-size:24px;
  font-weight:700;
  font-family:Arial, Helvetica, sans-serif;
  margin:10px;
  color:#fff;
}
.logodesign:hover{
  box-shadow:3px 3px 3px 3px #bcc5d3;
  transition: all 1s;
}
.social{
  width:260px;
  height:300px;
  background-image:url(../src/Component/images/social-2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:15px;
  border-radius:4px;
}
.social p{
  margin:10px;
  font-size:14px;
  font-weight:400;
  font-family:Arial, Helvetica, sans-serif;
  line-height:20px;
  color:#fff;
}
.social h1{
  font-size:24px;
  font-weight:700;
  font-family:Arial, Helvetica, sans-serif;
  margin:10px;
  color:#fff;
}
.social:hover{
  box-shadow:3px 3px 3px 3px #bcc5d3;
  transition: all 1s;
}
.seo{
  width:260px;
  height:300px;
  background-image:url(../src/Component/images/seo-2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:15px;
  border-radius:4px;
}
.seo p{
  margin:10px;
  font-size:14px;
  font-weight:400;
  font-family:Arial, Helvetica, sans-serif;
  line-height:20px;
  color:#fff;
}
.seo h1{
  font-size:24px;
  font-weight:700;
  font-family:Arial, Helvetica, sans-serif;
  margin:10px;
  color:#fff;
}
.seo:hover{
  box-shadow:3px 3px 3px 3px #bcc5d3;
  transition: all 1s;
}
.illustration{
  width:260px;
  height:300px;
  background-image:url(../src/Component/images/illustration-2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:15px;
  border-radius:4px;
}
.illustration p{
  margin:10px;
  font-size:14px;
  font-weight:400;
  font-family:Arial, Helvetica, sans-serif;
  line-height:20px;
  color:#fff;
}
.illustration h1{
  font-size:24px;
  font-weight:700;
  font-family:Arial, Helvetica, sans-serif;
  margin:10px;
  color:#fff;
}
.illustration:hover{
  box-shadow:3px 3px 3px 3px #bcc5d3;
  transition: all 1s;
}
.transistion{
  width:260px;
  height:300px;
  background-image:url(../src/Component/images/translation-2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:15px;
  border-radius:4px;
}
.transistion p{
  margin:10px;
  font-size:14px;
  font-weight:400;
  font-family:Arial, Helvetica, sans-serif;
  line-height:20px;
  color:#fff;
}
.transistion h1{
  font-size:24px;
  font-weight:700;
  font-family:Arial, Helvetica, sans-serif;
  margin:10px;
  color:#fff;
}
.transistion:hover{
  box-shadow:3px 3px 3px 3px #bcc5d3;
  transition: all 1s;
}
.data-entry{
  width:260px;
  height:300px;
  background-image:url(../src/Component/images/data-entry-2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:15px;
  border-radius:4px;
}
.data-entry p{
  margin:10px;
  font-size:14px;
  font-weight:400;
  font-family:Arial, Helvetica, sans-serif;
  line-height:20px;
  color:#fff;
}
.data-entry h1{
  font-size:24px;
  font-weight:700;
  font-family:Arial, Helvetica, sans-serif;
  margin:10px;
  color:#fff;
}
.data-entry:hover{
  box-shadow:3px 3px 3px 3px #bcc5d3;
  transition: all 1s;
}

.book-cover{
  width:260px;
  height:300px;
  background-image:url(../src/Component/images/book-covers-2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:15px;
  border-radius:4px;
}
.book-cover:hover{
  box-shadow:3px 3px 3px 3px #bcc5d3;
  transition: all 1s;
}
.book-cover p{
  margin:10px;
  font-size:14px;
  font-weight:400;
  font-family:Arial, Helvetica, sans-serif;
  line-height:20px;
  color:#fff;
}
.book-cover h1{
  margin:10px;
  font-size:24px;
  font-weight:700;
  font-family:Arial, Helvetica, sans-serif;
  color:#fff;
}
.back-popular{
  width:95%;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
  margin-top:20px;
}
.back2all{
  width:90%;
}
.back-withfree{
  width:100%;
  height:fit-content;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  }

  .background3{
    width:100%;
    height:700px;
    background-color:#f1fdf7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:50px;
  }
  .back3-h1{
    width:90%;
  }
  .back3-h1 h1{
    font-size:32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
    line-height:38px;
    color: #404145;
  }
  .text-list div h1{
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
    line-height:25px;
    color:#404145;
    margin-top:10px;
  }
  .text-list p{
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
    line-height:26px;
    color:#62646a;
  }
  .text-list{
    width:90%;
  }
  .texts-lists{
    width:40%;
   
  }
  .text-listall{
    width:90%;
    display: flex;
    flex-wrap: wrap;
  }
  .back3-video{
    width:60%;
    height:70vh;
    border-radius:5px;

  }
  .back3-video video{
    width:100%;
    height:70vh;
    border-radius:5px;
  }
  .background4{
    width:100%;
    height:fit-content;
    background-color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .back4-icons div{
    width:60px;
    height:40px;
    border-bottom:2px solid #c5c6c9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .back4-icons3 div{
    width:60px;
    height:40px;
    border-bottom:2px solid #c5c6c9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .back4-icons div:hover{
    width:80px;
    border-bottom:2px solid #1dbf73;
    
  }
  .back4-icons3 div:hover{
    width:80px;
    border-bottom:2px solid #1dbf73;
    
  }
  .back4-texts{
    width:90%;
    height:fit-content;
    margin-top:100px;
  }
  .back4-images{
   width:87%;
   margin-top:20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
  }
  .back4-icons{
    width:200px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    padding:20px;
  }
  .back4-icons3{
    width:100px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    padding:20px;
  }
  .back4-icons p{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
    line-height:24px;
    color:#222325;
    text-align: center;
  }
  .back4-icons3 p{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
    line-height:24px;
    color:#222325;
    text-align: center;
  }
  .background5{
    width:100%;
    height:600px;
    background-color:#0d084d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back5-images{
    width:53%;
    height:400px;
   
  }
  .back5-text h5{
    font-size:35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    list-style:60px;
    color: #fff;
    margin-top:10px;
  }
  .back5-text h1{
    font-size:46px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    list-style:60px;
    color: #fff;
    margin-top:20px;
  }
  .back5-text h1 b{
    font-size:46px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    list-style:60px;
    color: #fff;
  }
  .back5-texts h1{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    list-style:24px;
    color: #fff;
  }
  .back5-texts p{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    list-style:24px;
    color: #fff;
  }
  .back5-texts{
    margin-top:20px;
  }
  .back5-texts button{
    width:150px;
    height:45px;
    border:0;
    border-radius:4px;
    background-color:#fc832b;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    list-style:16px;
    color: #fff;
  }
  .back5-all {
    width:90%;
    display: flex;
    flex-wrap: wrap;
  }
  .back5alltext{
    width:46%;
  }

 
  .background7{
    width:100%;
    background-color:#f5f5f5;
    height:fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center
  }
  .back7-images{
    width:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:30px;
  }
  .back7-images div{
    width:250px;
    height:290px;
    margin-top:15px;
    box-shadow:1px 1px 1px 1px #bcc5d3;
    border-radius:3px;
  }
  .back7-images div img{
    width:100%;
    height:220px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
  }
  .back7-images div p{
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;
    color:#95979d;
    line-height:21px;
  }
  .back7-images div h1{
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    color:#95979d;
    line-height:21px;
  }
  .back7-images div p span{
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    color:#95979d;
    line-height:21px;
  }
  .back7all{
      width:90%;
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      align-items: center
  }
  .back7-texttitle{
    width:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:30px;
  }
  .back7-texttitle h1{
    font-size:32px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    color:#404145;
    line-height:38px;
  }

  .back7-texttitle button{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;
    color:#446ee7;
    line-height:24px;
    background:none;
    border:0;
  }
  .back7-images div:hover{
    box-shadow:3px 3px 3px 3px #bcc5d3;
    transition: all 1s;
  }
  .background8{
    width: 100%;
    height:fit-content;
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center
  }
  .back8-texttitle{
    width:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:30px;
  }
  .back8-texttitle h1{
    font-size:32px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    color:#404145;
    line-height:38px;
  }

  .back8-texttitle button{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;
    color:#446ee7;
    line-height:24px;
    background:none;
    border:0;
  }
  .back8-images div{
    width:32%;
    height:250px;
    margin-top:15px;
    box-shadow:1px 1px 1px 1px #bcc5d3;
    border-radius:3px;
  }
  .back8-images{
    width:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:30px;
  }
  .back8-images div img{
    width: 100%;
    height:190px;
  }
  .back8-images div p{
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    color:#404145;
    line-height:25px
  }
  .back8-images div:hover{
    box-shadow:3px 3px 3px 3px #bcc5d3;
    transition: all 1s;
  }
  .background9{
    width: 100%;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center
  }
  .back9all{
    width:90%;
    height:60vh;
    background-image:url(../src/Component/image2/bg-signup-1400-x1.webp);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    border-radius:5px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center
  }
  .back9-text{
    width:90%;
  }
  .back9-text h1{
    font-size:48px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    color:#ffffff;
    line-height:56px
  }
  .back9-text h1 span{
    font-size:48px;
    font-family:cursive;
    font-weight:700;
    color:#ffffff;
    line-height:56px
  }
  .back9-text button{
    background-color: #1dbf73;
    border:0;
    border-radius:4px;
    width:150px;
    height:40px;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600;
    color:#ffffff;
    line-height:16px
  }
.background10{
  width:100%;
  height:fit-content;
  background-color:#ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
 
.back10all{
  width:95%;
  border-bottom:1px solid #e4e5e7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.back10-text{
  margin-top:100px;
}
.back10-text h1{
  font-size:16px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  color:#404145;
  line-height:22px
}
.back10-text p{
  font-size:16px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:400;
  color:#404145;
  line-height:24px
}
.back10-text p:hover{
color: #446ee7;
cursor: pointer;
}

.back10-icon{
  width:95%;
  height:100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.back10-icon h1{
  font-size:30px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  color:#95979d;
  line-height:24px
}
.back10-icon p{
  font-size:14px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:400;
  color:#b5b6ba;
  margin-left:10px;
  line-height:21px
  
}
.back10-but button{
  width:40px;
  height:40px;
  border-radius:50px;
  border:0;
  background-color: #fff;
}
.back10-but{
  display: flex;
  flex-wrap: wrap;
}
.back10-button button{
  width:100px;
  height:40px;
  border-radius:30px;
  border:0;
  background-color: #fff;
}
.back10-but button:hover{
  background-color:#c7ceda56;
}
.back10-button button:hover{
  background-color:#c7ceda56;
}







@media (max-width:1115px) {
  .sign-cover{
    width:35%;
  }
  
  .backhire{
    width:47%;
  }
  .backhire h1{
    font-size:41px;
    line-height:48px;
    font-weight:700;
    font-family: Arial, Helvetica, sans-serif;
    color:#fcfcfd;
  }
  .postallinfo{
    width:95%;
    height:500px;
  }
  .back-selector{
    width:50%;
  }
  .popular{
    width:65%;
  }
  .back5alltext{
    width:100%;
  }
  .back5-images{
    width:100%;
    height:400px;
   
  }
  .background5{
    width:100%;
    height:fit-content;
  }
}
@media (max-width:1090px){
  .backhire{
    width:50%;
  }
  
}
@media (max-width:1025px){
  .backhire{
    width:55%;
  }
  .popular{
    width:70%;
  }
  .sign-cover{
    width:40%;
  }
}
@media (max-width:1000px){
  .backjob-selector{
    width:60%;
  }
  .back-selector{
    width:60%;
  }
  .backselector-text{
    width:95%;
  }
}
@media (max-width:1280px){
  .alltext{
    width:90%;
  }
  .post-text{
    width:80%;
  }
  .backjob-selector{
    width:40%;
  }
  .back-selector{
    width:40%;
  }
}
@media (max-width:980px) {
  /* .navbar2{
    padding-top:7%;
  } */
  .back-selector{
    width:50%;
  }
  .list{
    width:70%;
  }
  .back3-video{
    width:100%;
    height:50vh;
  }
  .texts-lists{
    width:100%;
  }
  .text-list{
    width:100%;
  }
 
  .background3{
    width:100%;
    height:fit-content;
  }
  .back3-video{
    width:60%;
    height:50vh;
    border-radius:5px;

  }
  .back3-video video{
    width:100%;
    height:50vh;
    border-radius:5px;
  }
}
@media (max-width:960px){
  .post-backimages{
    display:none;
  }
  .post-backtext{
    width:100%;
    height:850px;
    background-color:#ffffff;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .postallinfo{
    width:90%;
    height:500px;
  }
  .post-text{
    width:65%;
  }
  .back-selector{
    width:55%;
  }
}
@media (max-width:935px){
  .backhire{
    width:60%;
  }
  .popular{
    width:75%;
  }
  .back-imagelogo{
    width:60%;
  }
  
}
@media (max-width:900px) {
  .sign-cover{
    width:40%;
  }
}
@media (max-width:890px){
  .back8-images div{
    width:46%;
    height:250px;
  }
}
@media (max-width:880px) {
  .back-selector{
    width:70%;
  }
  .list{
    width:80%;
  }
}
@media (max-width:857px){
  .backhire{
    width:70%;
  }
  .popular{
    width:80%;
  }
    .sign-cover{
    width:45%;
  }
 
}
@media (max-width:830px) {
  .auth .post{
    width:35%;
    height:35px;
  }

  
}
@media (max-width:800px) {
  .backhire{
    width:80%;
  }
  .popular{
    width:90%;
  }
  .hirebuttons{
    width:100%;
    margin:0;
    margin-top:10px;
  }
  .hirebutton{
    width:100%;
    margin-top:10px;
  }
  .backjob-selector{
    width:70%;
  }
  .backselector-text{
    width:90%;
  }
}
@media (max-width:779px) {
  .navbar{
   justify-content: space-between;
  }
  .image .link{
   display:none;
  }
  .image img{
    width:40%;
  }
 .auth .post{
    display:none;
  }
  .back-imagelogo{
    width:65%;
  }
}

@media (max-width:750px) {
  
  .image img{
    width:50%;
  }
  .back-imagelogo{
    width:70%;
  }
  .sign-cover{
    width:50%;
  }

}
@media (max-width:716px){
  .post-text{
    width:80%;
    
  }
  .popular{
    width:100%;
  }
  .backhire{
    width:80%;
  }
  .back-imagelogo{
    width:80%;
  }
}
@media (max-width:700px) {
 .dropdown{
  overflow-x:scroll;
  white-space: nowrap;
  flex-wrap: nowrap;
 }
 .dropdown::-webkit-scrollbar{
  display: none;
 }
}
@media (max-width:677px) {
  .image img{
    width:60%;
  }
  .popular{
    display: none;
  }
  .backhire{
    width:100%;
  }
  .alltext{
    width:95%;
  }
  .list{
    width:100%;
    flex-wrap: wrap;
  }
  .list input{
    width:100%;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
    margin-top:20px;
  }
  .list button{
    width:100%;
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
    margin-top:10px;
  }
}
@media (max-width:628px){
  .post-text{
    width:90%;
    
  }
  .back-selector{
    width:80%;
  }
  .sign-cover{
    width:60%;
  }
}
@media (max-width:596px) {
  .image img{
    width:60%;
  }
  .post-text{
    width:100%;
    
  }
  .back-selector{
    width:85%;
  }
  .back8-images div{
    width:100%;
    height:250px;
  }
  .background10{
    display:none;
  }
}
@media (max-width:510px){
  .back-asusedby{
    display: none;
  }
  .sign-cover{
    width:100%;
  }
}
@media (max-width:480px) {
  .image img{
    width:70%;
  }
  .post-list-icon{
    display: flex;
    flex-wrap: wrap;
    padding-left:0px;
  }
  .postallinfo{
    width:100%;
    height:500px;
  }
  .back-selector{
    width:100%;
    height:600px;
  }
  .back-imagelogo{
    width:90%;
  }
}
@media (max-width:450px){
  .backjob-selector{
    width:100%;
  }
  .backselector-text{
    width:95%;
  }
}
@media (max-width:390px) {
  .image img{
    width:80%;
  }
  .back-selector{
    width:90%;
  }
  .back-imagelogo{
    width:100%;
  }
}
@media (max-width:350px) {
  .image img{
    width:90%;
  }
}


